body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4caf50;
    color: #ffffff;
    text-align: center;
    padding: 1em 0 0.5em 0;
}

nav {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 0.05em 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 40px;
    font-size: larger;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 2px;
    border: 2px dotted #ffffff;
}

.main-content {
    padding: 20px;
    margin: 20px;
    border: 1px solid #333333;
}

footer {
background-color: #4caf50;
color: #ffffff;
text-align: center;
padding: 1em 0;
position: fixed;
bottom: 0;
width: 100%;
}

p#second {
    font-family: 'Courier New', Courier, monospace;
}

section.main-content p {
    font-style: italic;
}
